:root {
	--grey: #374151;
	--darkerGrey: #282A35;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	bottom: 0;
	font-family: 'Lato', sans-serif;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 50px;
	margin: 0;
}

h3 {
	font-size: 14px;
	color: #696969;
	font-weight: 100;
	font-style: italic;
}

p {
	font-size: 18px;
	color: #666;
}

/* ----------Home page---------- */
.container {
	width: 80%;
	padding: 5px 5px;
}

.top-nav {
	display: block;
}

.top-nav ul {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 6%;
	top: 2%;
}

.top-nav ul li {
	display: inline-block;
	margin-left: 28px;
}

.top-nav ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
}

.top-nav ul li a:hover {
	color: #afafaf;
	transition: 0.15s ease-in;
}

/* 
#section-landing {
	background: url('../img/bulb.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%; 
} */

.wrapper-landing {
	position: relative;
	text-align: left;
	width: 80%;
	/* margin: 0 auto; */
	top: 60%;
	/* text-shadow: 2px 2px 8px black; */
}

.wrapper-landing h1 {
	font-size: 36px;
	color: #000000;
	margin: 0;
	font-weight: 100;
}
.wrapper-landing h2 {
	font-size: 30px;
	color: #000000;
	opacity: 0.6;
	margin: 0;
	font-weight: 100;
}

.btn-login {
	border: 1px solid #ffffff;
	padding: 6px 24px;
	border-radius: 3px;
}

.wrapper-loggedin h1 {
	position: relative;
	text-align: center;
	margin: 0 auto;
	top: 40%;
	font-size: 36px;
	color: #000000;
	margin: 0;
	padding: 0;
	/* font-weight: 100; */
	/* text-shadow: 2px 2px 8px black; */
}


/* ----------login page----------*/
.navbar {
	width: 100%;
	height: 68px;
	background-color: var(--darkerGrey);
	/* box-shadow: 0px 0px 10px #BFDBFE; */
}

.container-login {
	width: 100%;
	margin: 0 auto;
	position: relative;
	top: 20%;
}

.wrapper-login {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.wrapper-login input {
	width: 256px;
	height: 32px;
	border: 1px solid #cccccc;
	background-color: #F8FAFC;
	font-size: 18px;
	display: block;
	position: relative;
	margin: 20px auto;
	border-radius: 3px;
}

input::placeholder {
	color: #a1a1a1;
	font-size: 16px;
	padding-left: 5px;
}

.wrapper-login h2 {
	font-size: 38px;
	color:#374151;
	text-transform: uppercase;
}

#submit {
	width: 200px;
	height: 42px;
	border: 1px solid var(--darkerGrey);
	border-radius: 3px;
	background-color: var(--darkerGrey);
	color: #ffffff;
	font-size: 20px;
	margin: 20px 0 0 0;
}
#submit:hover {
	border: 1px solid #a1a1a1;
	background-color: #a1a1a1;
	transition: 0.15s ease-in;
}

.options a {
	color: #006400;
}
.options a:hover {
	color: #000000;
	transition: 0.20s ease-in;
}

.invalidFeedback {
	color: #ff0000;
}

/* Books */
.container-book {
	margin: 0 auto;
	width: 80%;
	padding: 100px 0px;
}

.container-item-book {
	border-bottom: 1px solid #dcdcdc;
	padding: 40px 0px;
}

.btn {
	padding: 8px 18px;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
}
.btn:hover {
	color: #ffffff;
}

.green {
	background-color: #4CAF50;
}
.green:hover {
	background-color: #64A764;
	transition: 0.2s ease-in-out;
}

/* create new book */
input, textarea {
	width: 400px;
	margin: 20px 0px;
	border: 1px solid #cbcbcb;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding: 8px;
	font-size: 18px;
	color: #666;
}
input {
	height: 35px;
}
textarea {
	height: 100px;
}

::placeholder {
	font-size: 14px;
	font-weight: 100;
	/* font-style: italic; */
}

.orange {
	background-color: orange;
	color: #000000;
	float: right;
}